@model AutoCreatePackage.WebApp.Models.PackageViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="acpModalLabel">添加软件包信息</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-offset-1 col-md-7">
                    @Html.EditorFor(model => model.PackageId, new { htmlAttributes = new { @placeholder = "软件包编号", @class = "form-control", @id = "p_packageId", name = "PackageId" } })
                    @Html.ValidationMessageFor(model => model.PackageId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-7">
                    @Html.EditorFor(model => model.PackageName, new { htmlAttributes = new { @placeholder = "软件包名字", @class = "form-control", name = "PackageName" } })
                    @Html.ValidationMessageFor(model => model.PackageName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-7">
                    @Html.EditorFor(model => model.PackageDownloadPageUrl, new { htmlAttributes = new { @placeholder = "软件包下载路径", @class = "form-control", name = "PackageDownLoadUrl" } })
                    @Html.ValidationMessageFor(model => model.PackageDownloadPageUrl, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-7">
                    @Html.EditorFor(model => model.PackageXPath, new { htmlAttributes = new { @placeholder = "软件包的XPath", @class = "form-control", name = "PackageXPath" } })
                    @Html.ValidationMessageFor(model => model.PackageXPath, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-7">
                    @Html.EditorFor(model => model.HtmlElementId, new { htmlAttributes = new { @placeholder = "获取网页下载路径的Html Element Id", @class = "form-control", name = "HtmlElementId" } })
                    @Html.ValidationMessageFor(model => model.HtmlElementId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-7">
                    @Html.EditorFor(model => model.HtmlElementAttr, new { htmlAttributes = new { @placeholder = "获取网页下载路径的Html Element Attribute", @class = "form-control", name = "HtmlElementAttr" } })
                    @Html.ValidationMessageFor(model => model.HtmlElementAttr, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-7">
                    @Html.EditorFor(model => model.PackageDownloadUrlType, new { htmlAttributes = new { @placeholder = "下载路径获取方式, 0:直接获取, 1:拼接", @class = "form-control", name = "PackageDownloadUrlType" } })
                    @Html.ValidationMessageFor(model => model.PackageDownloadUrlType, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-1 col-md-7">
                    @Html.EditorFor(model => model.PackageCurrentVersion, new { htmlAttributes = new { @placeholder = "软件包当前版本", @class = "form-control", name = "PackageCurrentVersion" } })
                    @Html.ValidationMessageFor(model => model.PackageCurrentVersion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <input class="btn btn-primary" id="p_btn_add" type="submit" value="新增" />
    </div>
}